.card {
    color: #61dafb;
    width: 80px;
    height: 110px;
    border: 1px solid #61dafb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
